<body>
  <header>
    <h1> Futbol Statistics</h1>
  </header>

  <a href="./index.html">Home</a>
  <a href="./league.html">League Stats</a>
  <a href="./season.html">Season Stats</a>
  <a href="./team.html">Team Stats</a>

  <h3>Game Statistics</h3>
  <p>Highest Total Score: <%=stat_tracker.highest_total_score%></p>
  <p>Lowest Total Score: <%=stat_tracker.lowest_total_score%></p>
  <p>Percentage Home Wins: <%=stat_tracker.percentage_home_wins%></p>
  <p>Percentage Visitor Wins: <%=stat_tracker.percentage_visitor_wins%></p>
  <p>Percentage Ties: <%=stat_tracker.percentage_ties%></p>
  <p>Count of Games by Season:</p>
    <% stat_tracker.count_of_games_by_season.each do |season, count| %>
      <p> <%= "#{season[0,4]} - #{season[4,4]}: #{count}" %> </p>
    <% end %>
  <p>Average Goals per Game: <%=stat_tracker.average_goals_per_game%></p>
  <p>Average Goals by Season:</p>
    <% stat_tracker.average_goals_by_season.each do |season, goals| %>
      <p> <%= "#{season[0,4]} - #{season[4,4]}: #{goals}" %> </p>
    <% end %>
</body>
