<head>
  <title>Futbol</title>
</head>

<body>
  <header>
    <h1> Futbol Home</h1>
  </header>

  <a href="./game.html">Game Stats</a>
  <a href="./league.html">League Stats</a>
  <a href="./season.html">Season Stats</a>
  <a href="./team.html">Team Stats</a>

  <p> <img src="https://media.istockphoto.com/photos/feet-of-soccer-player-tread-on-soccer-ball-for-kickoff-in-the-stadium-picture-id992892836?k=6&m=992892836&s=612x612&w=0&h=CkqH_pw1zVZFdac7Z0x8dYt1FbBYROKJtHSFy-6PjgU=" alt="Soccer Ball" width="300" height="300"> </p>


  <p> Created by: Blake Dempsey, Jamie Pace, Matthew Kimball, Rowan Delong, and Kevin Mugele </p>
</body>
